:root {
  --menubuttons: #b0b5b6;
}

html,
body {
  display: flex;
  height: 100%;
  width: 100%;
  background-color: #c4c4c4;
  text-rendering: optimizeSpeed;
  flex-direction: column;
  margin: 0;
  padding: 0;
  font-family: "Open Sans", sans-serif;
}

notdraggable {
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -o-user-select: none;
  user-select: none;
}

#bread {
  display: flex;
  flex-direction: column;
  height: 100%;
}

#lettuce {
  display: flex;
  height: 20px;
  background-color: #646464;
  justify-content: space-around;
  flex-direction: row;
  align-items: center;
}

#themeatalsoknownasthegame {
  display: flex;
  flex-direction: row;
  height: 100%;
  width: 100%;
}

#themeatalsoknownasthegame img {
  max-width: 123px;
}

#upgrades {
  height: 100%;
  width: 25%;
  background-color: #969696;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#gameloop {
  height: 100%;
  width: 50%;
  background-color: #acacac;
  padding: 15px 15px 0px 15px;
}

#clicker {
  display: flex;
  height: 100%;
  width: 25%;
  background-color: #969696;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}

#imagetoclickon {
  opacity: 100;
}

.modal_container {
  background-color: rgba(0, 0, 0, 0.3);
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
  opacity: 0;
  pointer-events: none;
}

.modal_container.show {
  opacity: 1;
  pointer-events: auto;
}

.modal {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  text-align: center;
  flex-direction: column;
  align-items: center;
}
.modal #background {
  width: 100%;
  height: auto;
}
#modal_content {
  position: absolute;
  display: flex;
  height: 100%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 400px;
}
.modal button {
  padding-bottom: 100px;
  margin-top: 40px;
  box-shadow: 2px 2px 0px 0px #686868;
  background-color: #acacac;
  color: black;
  text-decoration: none;
  font-size: 17px;
  padding: 6px 31px;
  border: 0px;
  transform: translatey(80px);
}
.modal button:hover {
  box-shadow: 0px 0px 0px 0px #686868;
}
.modal button:active {
  background-color: #a3bba2;
}
.modal input {
  box-shadow: 2px 2px 0px 0px #686868;
  background-color: #acacac;
  color: black;
  text-decoration: none;
  font-size: 17px;
  padding: 6px 31px;
  border: 0px;
  opacity: 0;
  pointer-events: none;
  transform: translatey(35px);
}
.modal input.show {
  opacity: 1;
  pointer-events: auto;
}
.textbox {
  background-color: #bcafc5;
  border-style: solid;
  border-radius: 2px;
  border-width: 1px;
  border-color: #333333;
  transform: translatey(-50px);
  font-size: 18px;
  text-align: center;
  padding: 4px;
}
.upgradebox {
  display: flex;
  width: 80%;
  background-color: #a1a1a1;
  transition: all 0.2s;
  border-style: solid;
  border-radius: 2px;
  border-width: 1px;
  border-color: #333333;
  align-items: center;
  user-select: none;
}
.upgradebox:hover {
  transform: translateX(5px);
  background-color: #c1c6c7;
}
.upgradebox:active {
  transform: translateX(1px);
}
.upgradebox img {
  height: 100%;
  max-height: min-content;
  justify-self: start;
}
.upgradebox h2 {
  margin: 0;
  font-size: 50px;
  padding-left: 2.5%;
  padding-right: 2.5%;
  font-family: "VT323", monospace;
}
.upgradebox div {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: flex-start;
  margin-left: 5%;
  margin-right: auto;
}
.upgradebox h1 {
  line-height: 30px;
  margin: 0;
  font-size: 30px;
}
.upgradebox h4 {
  margin: 0;
  font-size: 17px;
}
/* THE MENU ICONS */
#navigationbar {
  display: flex;
  border-radius: 2px;
  width: 100%;
  background-color: #9b9b9b;
}
.menuoption {
  margin: 10px;
  background-color: var(--menubuttons);
  border-radius: 2px;
  transition: all 0.1s;
  border-style: solid;
  border-width: 1px;
  border-color: #333333;
}
.menuoption:hover {
  transform: translateY(-2px);
  background-color: #c1c6c7;
}
.menuoption:active {
  transform: translateY(-1px);
  background-color: #a9d3b3;
}

#gameloop h1 {
  line-height: 0px;
  font-size: 50px;
  position: relative;
}
#gameloop p3 {
  font-size: 12.5px;
  color: #464646;
  margin-top: -2px;
  padding-bottom: 5px;
}
#LUhome {
  height: 2px;
  width: 100%;
  background-color: #333333;
  border-radius: 2px;
  transition: width 1s cubic-bezier(1, 0.03, 0.66, 1);
}
#LUjak {
  height: 2px;
  width: 2px;
  background-color: #333333;
  border-radius: 2px;
  transition: width 1s cubic-bezier(1, 0.03, 0.66, 1);
}

/* menus */
.urhere {
  display: flex;
}
.urnothere {
  display: none;
}
.LOCroom {
  flex-direction: column;
}
.LOCjak {
  flex-direction: column;
}
